#carouselExampleIndicators {
  height: 90vh;
  width: 100%;
}

.single #carouselExampleIndicators {
  height: 63vh;
}

.carousel-inner {
  background-position: center;
  background-size: cover;
  // min-height: 300px;
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

.c-bg-image.heading {
  background-position: center;
  background-size: cover;
  min-height: 300px;
  height: 60vh;
}

.container.slideshow {
  min-height: 560px;
}

.signature,
.single-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.single-title {
  width: 80%;
}

.signature img {
  width: 100%;
  text-align: center;
}

.signature h2 {
  @include font-size(1.5rem);
}

.signature-description {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.5rem;
  // font-size: 1.5rem;

  @include text-shadow(0, 0, 2px, rgba(255,255,255,0.75));
}

@include media-breakpoint-down(xs) {
  .signature {
    width: 90%;
  }
}

@include media-breakpoint-up(xl) {
  .single-title {
    width: 60%;
  }
}
